/* src/components/AboutUs.css */
.aboutus-page {
  background-color: #91aec4; /* Sage green background */
  color: #000000; /* Text color */
  padding: 40px;
  text-align: left;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.aboutus-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.aboutus-page p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.aboutus-page .content-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
