/* src/components/Booking.css */

.booking-page {
    background-color: #91aec4; /* Sage green background */
    color: #194569; /* Text color */
    padding: 20px;
    text-align: center;
  }
  
  .booking-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .event-poster {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .booking-form label {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .booking-form select,
  .booking-form input {
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .booking-form button {
    background-color: #194569; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #5f84a2; /* Button hover color */
  }
  
  .success-message {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #194569; /* Success message color */
  }
  